* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: #3a3a3a;
  font-weight: normal;
  font-family: "Comic Code";
}

// Styles on classes (see eww.yuck for more information)

.workspace-entry {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.occupied {
  background-color: #2a2a2a;
}

.current {
  background-color: #4b4b4b;
}
